<!doctype html>
<html>
    <header>
        <tr>
            <td>
                <a href="/" style="padding-right: 25px;"> Main Blog Page</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="/new_blog"> Add a Blog Entry</a></p>
            </td>
        </tr>
    </header>
    <head>
        <title style="text-align: center;">{{title}}</title>
        <link rel="stylesheet" type="text/css" href="styles.css" title="error" media="screen">
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>