{% extends "base.html" %}

{% block content %}
<body>
    <h1 style="text-align: center;">Add a New Blog</h1>
    <form method='post'>
        
        <br />
        <label>
            Title for your New Blog:
            <br/>
            
            <input type="text" name='blog_name' placeholder="Title" />
        </label><br />
        <span class="error" style="color:red; font-size: 10px; font-family: fantasy; font-style: italic;">{0}</span>
        <br />
        <br/>
        <label>
            Author:
            <br/>
            <input type="text" name="author" placeholder="Your Name" />
        </label><br />
        <span class="error" style="color:red; font-size: 10px; font-family: fantasy; font-style: italic;">{1}</span>
        <br/>
        <br/>
        <label>
            Your New Blog:
            <br/>
            <textarea type="text" name="blog" placeholder="Start Writing!" style="height: 200px; width: 500px;"></textarea>
        </label><br />
        <span class="error" style="color:red; font-size: 10px; font-family: fantasy; font-style: italic;">{2}</span>
        <br />
        <br />
        <input type="submit" value='Add Entry' />

    </form>
</body>
<hr />
{% endblock %}